#add-scores-form {
  display: flex;
  flex-direction: column;

  h2 {
    margin-bottom: 1.3rem;
  }

  form {
    /* stylelint-disable-next-line */
    @extend #add-scores-form;

    position: relative;
    align-items: flex-end;

    input {
      border: 1px solid black;
      margin-bottom: 10px;
      padding: 5px;
      /* stylelint-disable-next-line */
      @include round;

      &:last-child {
        margin-bottom: 0;
      }
    }

    button {
      margin-right: 0;
    }
  }
}
