#scores {
  display: flex;
  flex-direction: column;

  min-width: 17rem;

  @include sm {
    margin-right: 40px;
  }
}

#scores-content {
  min-height: 40px;
  border: 3px solid #000;
  width: 100%;
  margin-top: 10px;
  position: relative;
  @include round;
  overflow: hidden;

  li {
    &:nth-child(2n) {
      background-color: #ccc;
    }

    padding: 10px;
  }
}

header#recent-scores {
  display: flex;
  align-items: center;
}
